@layout MainLayout
@page "/apps/about"

<div>
    <br />
    <h2>About rAtOOns</h2>
    <br />
    <div class="box-shadow rounded">
        Security Testing is turning out to be integral part of any organisation. For validation & verification, client infrastructure needs to be feasible to support the security testing tool set (eg: Kali Linux). Kali Linux, which is an operating system, comes with open source security testing tools and that requires base hardware or hypervisor to run in live environment. Setting up all the tools sets with proper infrastructure (OS) can add additional cost, additional resource utilization and it is even time consuming.
    </div>
    <div><br /></div>
    <div class="box-shadow rounded">
        In this agile world, we need a solution that are one stop where it has to be feasible to any environment, portable, ease to use with no added dependencies. Here we are proposing a solution In-build Pentest Browser and this is not like any other pen testing distribution which either runs in a virtual machine or on a dual boot environment. This is not dependent with base hardware or hypervisor. It essentially provides all the application security testing tools, automated reporting in the browser framework itself. This can make security testing more agile, standardized and more reliable & secure to use. This can be managed in any environment irrespective of OS.
    </div>
    <div><br /></div>
    <div class="box-shadow rounded">
        Our browser has following capabilities too:
        <ul>
            <li>
                One stop solution with multiple ST tools
            </li>
            <li>
                Integrated Security Testing Automation (DAST)
            </li>
            <li>
                Automated Reporting
            </li>
        </ul>
    </div>
</div>