@layout MainLayout
@page "/apps/dashboard"
@inject NavigationManager navigationManager
@inject IJSRuntime jsRunTime
@inject ILocalStorageService LocalStorageService
@inject IAppsService AppsService
@inject NavigationManager NavigationManager
@using Classes
@using Data;
@using NFTIntegration.Models.Account


<h2>Dashboard</h2>
<div class="center">
    <h3>Vulnerable report summary</h3>
</div>
<div id="chartdiv" style="height: 400px;"></div>

@code{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var userDetails = await LocalStorageService.GetItem<User>("user");
                var zapAlerts = await AppsService.GetZapAlerts(userDetails);
                await jsRunTime.InvokeVoidAsync("generateChartInValues", zapAlerts);
            }
            catch (Exception e)
            {
                Console.WriteLine(e.StackTrace.ToString());
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await Task.Run(() =>
            {
                var userDetails = LocalStorageService.GetItem<User>("user").Result;

                if (userDetails == null || (userDetails != null && userDetails.UserId == 0))
                {
                    NavigationManager.NavigateTo("/account/login");
                }
            }).ConfigureAwait(false);
        }
        catch (Exception e) { Console.WriteLine(e.StackTrace.ToString()); }
    }
}