@layout MainLayout
@page "/apps/dast"
@inject NavigationManager navigationManager
@inject IJSRuntime jsRunTime
@inherits Classes.DastBase
@using Classes
@using NFTIntegration.Components

<AnchorNavigation />

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert-danger">
        @ErrorMessage
    </div>
}

@if (ZapModel == null)
{
    <div class="spinner">

    </div>
}
else
{
    <div>
        <EditForm Model="@ZapModel" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />

            <div class="form-control-wrapper">
                <label class="form-control-label" for="catalogue">Url</label>
                <InputText class="form-control" id="catalogue" @bind-Value="ZapModel.Url" />
                <div class="form-control-validation">
                    <ValidationMessage For="@(() => ZapModel.Url)" />
                </div>
            </div>
            <div class="form-control-wrapper">
                @if (IsScanning)
                {
                    <button class="btn btn-primary m-1" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Scanning...
                    </button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary m-1">Scan</button>
                }
            </div>

            @if (!string.IsNullOrEmpty(ReportFileContent))
            {
                <div>
                    @((MarkupString)ReportFileContent)
                </div>
            }

        </EditForm>

    </div>
}