@layout MainLayout
@page "/apps/NmapReports"

<head>
    <link href="_content/Blazored.Menu/blazored-menu.css" rel="stylesheet" />
</head>
<h2>Nmap report</h2>
<div class="center">
    <h3>Latest Nmap report summary</h3>
</div>

<div>

</div>
