@layout MainLayout
@page "/apps/Nmap"
@inject NavigationManager navigationManager
@inject IJSRuntime jsRunTime
@inherits Classes.NmapBase

<div id="outer-screen">
    <div id="inner-screen">
        <div id="output-outer"><div id="output">@((MarkupString)Output)</div></div>
        <div id="blank-line">&nbsp;</div>
        <div id="input-row">
            <span>&gt;&nbsp;</span><input id="input" class=@processStyle autocomplete="off" @bind="Input" type="text" @onkeydown="OnKeyDown" @onkeyup="Run" autofocus />
        </div>
    </div>
</div>
