@inherits LayoutComponentBase
@inject NFTIntegration.Classes.IAccountService AccountService
@inject NavigationManager NavigationManager

<div class="top-row center mt-4">
    <img src="../Images/logo.png" width="180" height="180" alt="rAtOOns" />
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="app-container @(LoggedIn ? "bg-light" : "")">
    @Body
</div>

@code { public bool LoggedIn
    {
        get { return AccountService.User != null; }
    } }