<div class="top-row center">
    <img src="../Images/logo.png" width="120" height="120" alt="rAtOOns" />
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass min-vh-100" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link active" href="apps/dashboard" Match="NavLinkMatch.All">
                <span class="oi oi-dashboard" aria-hidden="true"></span>Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link active" @onclick="()=>expandSubMenu1= !expandSubMenu1">
                <span class="oi oi-book" aria-hidden="true"></span>Information gathering
            </NavLink>
            @if (expandSubMenu1)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="apps/Nmap">
                            <span class="oi oi-map" aria-hidden="true"></span>Nmap
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link active" @onclick="()=>expandSubMenu2= !expandSubMenu2">
                <span class="oi oi-script" aria-hidden="true"></span>Web vulnerability scanners
            </NavLink>
            @if (expandSubMenu2)
            {
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="apps/dast">
                    <span class="oi oi-globe" aria-hidden="true"></span>DAST
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="http://localhost:8201/zap" target="_blank">
                    <span class="oi oi-script" aria-hidden="true"></span>zap
                </NavLink>
            </li>
        </ul>
            }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link active" @onclick="()=>expandSubMenu3= !expandSubMenu3">
                <span class="oi oi-hard-drive" aria-hidden="true"></span>Database assessment
            </NavLink>
            @if (expandSubMenu3)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="apps/databaseassessment">
                            <span class="oi oi-hard-drive" aria-hidden="true"></span>Database assessment
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link active" @onclick="()=>expandSubMenu4= !expandSubMenu4">
                <span class="oi oi-shield" aria-hidden="true"></span>Password attacks
            </NavLink>
            @if (expandSubMenu4)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="apps/passwordattacks">
                            <span class="oi oi-shield" aria-hidden="true"></span>Password attacks
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link active"  @onclick="()=>expandSubMenu5= !expandSubMenu5">
                <span class="oi oi-wifi" aria-hidden="true"></span>Wireless attacks
            </NavLink>
            @if (expandSubMenu5)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="apps/wirelessattacks">
                            <span class="oi oi-wifi" aria-hidden="true"></span>Wireless attacks
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link active"  @onclick="()=>expandSubMenu6= !expandSubMenu6">
                <span class="oi oi-crop" aria-hidden="true"></span>Sniffing & spoofing
            </NavLink>
            @if (expandSubMenu6)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="apps/sniffingspoofing">
                            <span class="oi oi-crop" aria-hidden="true"></span>Sniffing & spoofing
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link active" @onclick="()=>expandSubMenu7= !expandSubMenu7">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span>Post exploitation
            </NavLink>
            @if (expandSubMenu7)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="apps/postexploitation">
                            <span class="oi oi-spreadsheet" aria-hidden="true"></span>Post exploitation
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link active"  @onclick="()=>expandSubMenu8= !expandSubMenu8">
                <span class="oi oi-fire" aria-hidden="true"></span>Forensics
            </NavLink>
            @if (expandSubMenu8)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="apps/forensics">
                            <span class="oi oi-fire" aria-hidden="true"></span>Forensics
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link active"  @onclick="()=>expandSubMenu9= !expandSubMenu9">
                <span class="oi oi-file" aria-hidden="true"></span>Cheat sheet
            </NavLink>
            @if (expandSubMenu9)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="apps/nmapcheatsheet">
                            <span class="oi oi-map" aria-hidden="true"></span>Nmap
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link active" @onclick="()=>expandSubMenu10= !expandSubMenu10">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>Reports
            </NavLink>
            @if (expandSubMenu10)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="apps/nmapreports">
                            <span class="oi oi-map" aria-hidden="true"></span>Nmap
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="apps/dastreports">
                            <span class="oi oi-globe" aria-hidden="true"></span>Dast
                        </NavLink>
                    </li>F
                </ul>
            }
        </li>
        <li class="nav-item px-3 active">
            <NavLink class="nav-link" href="apps/update">
                <span class="oi oi-cloud-download" aria-hidden="true"></span>Update
            </NavLink>
        </li>
        <li class="nav-item px-3 active">
            <NavLink class="nav-link" href="apps/about">
                <span class="oi oi-document" aria-hidden="true"></span>About
            </NavLink>
        </li>
    </ul>
</div>

@code
    {
    private bool collapseNavMenu = true;
    private bool expandSubMenu1;
    private bool expandSubMenu2;
    private bool expandSubMenu3;
    private bool expandSubMenu4;
    private bool expandSubMenu5;
    private bool expandSubMenu6;
    private bool expandSubMenu7;
    private bool expandSubMenu8;
    private bool expandSubMenu9;
    private bool expandSubMenu10;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

