@page "/NmapCheatSheet"
@inject NavigationManager navigationManager

<div class="center">
    <h3>Nmap cheat sheet</h3>
</div>

<div class="border border-info rounded shadow">
    <div>
        <div class="bg-info text-white mb-2">
            <h5>
                <span>Target Specification</span>
            </h5>
        </div>
        <span></span>
    </div>
    <div>
        <div>
            <table data-rows="9" data-cols="3">
                <thead>
                    <tr>
                        <th>
                            <div><p>Switch</p></div>
                        </th>
                        <th style="padding: 5px;">
                            <div><p data-unit="px" style="line-height: 16px; margin-left: 20px !important;"> Example</p></div>
                        </th>
                        <th style="padding: 5px;"><div><p> Description</p></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 5px;"></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1</p></div></td>
                        <td style="padding: 5px;"><div><p> Scan a single IP</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 192.168.2.1</p></div></td>
                        <td style="padding: 5px;"><div><p> Scan specific IPs</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1-254</p></div></td>
                        <td style="padding: 5px;"><div><p> Scan a range</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap scanme.nmap.org</p></div></td>
                        <td style="padding: 5px;"><div><p> Scan a domain</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.0/24</p></div></td>
                        <td style="padding: 5px;"><div><p> Scan using CIDR notation</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;">
                            <div><p style="margin-left: 20px !important;"> -iL</p></div>
                        </td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap -iL targets.txt</p></div></td>
                        <td style="padding: 5px;"><div><p> Scan targets from a file</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;">
                            <div><p style="margin-left: 20px !important;"> -iR</p></div>
                        </td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap -iR 100</p></div></td>
                        <td style="padding: 5px;"><div><p> Scan 100 random hosts</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;">
                            <div><p style="margin-left: 20px !important;"> --exclude</p></div>
                        </td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap --exclude 192.168.1.1</p></div></td>
                        <td style="padding: 5px;"><div><p> Exclude listed hosts</p></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br />
<div class="border border-info rounded shadow">
    <div>
        <div class="bg-info text-white mb-2">
            <h5>
                <span>Scan Techniques</span>
            </h5>
        </div>
        <span></span>
    </div>
    <div>
        <div>
            <table data-rows="9" data-cols="3" style="margin-top: 0px !important; margin-bottom: 0px !important;">
                <thead>
                    <tr>
                        <th style="padding: 5px;"><div><p style="margin-left: 20px !important;">Switch</p></div></th>
                        <th style="padding: 5px;"><div><p data-unit="px" style="line-height: 16px; margin-left: 20px !important;"> Example</p></div></th>
                        <th style="padding: 5px;"><div><p style="margin-left: 0px !important;"> Description</p></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -sS</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -sS</p></div></td>
                        <td style="padding: 5px;"><div><p> TCP SYN port scan (Default)</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -sT</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -sT</p></div></td>
                        <td style="padding: 5px;"><div><p class="tve_p_left" style="margin-left: 0px !important; margin-right: 0px !important;"> TCP connect port scan<br>(Default without root privilege)</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -sU</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -sU</p></div></td>
                        <td style="padding: 5px;"><div><p> UDP port scan</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -sA</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -sA</p></div></td>
                        <td style="padding: 5px;"><div><p> TCP ACK port scan</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -sW</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -sW</p></div></td>
                        <td style="padding: 5px;"><div><p> TCP Window port scan</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -sM</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -sM</p></div></td>
                        <td style="padding: 5px;"><div><p> TCP Maimon port scan</p></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br />
<div class="border border-info rounded shadow">
    <div>
        <div class="bg-info text-white mb-2">
            <h5>
                <span>Host Discovery</span>
            </h5>
        </div>
        <span></span>
    </div>
    <div>
        <div>
            <table data-rows="9" data-cols="3" style="margin-top: 0px !important; margin-bottom: 0px !important;">
                <thead>
                    <tr>
                        <th style="padding: 5px;"><div><p style="margin-left: 20px !important;">Switch</p></div></th>
                        <th style="padding: 5px;"><div><p data-unit="px" style="line-height: 16px; margin-left: 20px !important;"> Example</p></div></th>
                        <th style="padding: 5px;"><div><p> Description</p></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -sL</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1-3 -sL</p></div></td>
                        <td style="padding: 5px;"><div><p> No Scan. List targets only</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -sn</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1/24 -sn</p></div></td>
                        <td style="padding: 5px;"><div><p style=""> Disable port scanning. Host discovery only.<br></p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -Pn</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1-5 -Pn</p></div></td>
                        <td style="padding: 5px;"><div><p style=""> Disable host discovery. Port scan only.<br></p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -PS</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1-5 -PS22-25,80</p></div></td>
                        <td style="padding: 5px;"><div><p> TCP SYN discovery on port x. </p><p>Port 80 by default</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -PA</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1-5 -PA22-25,80</p></div></td>
                        <td style="padding: 5px;"><div><p> TCP ACK discovery on port x. </p><p>Port 80 by default</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -PU</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1-5 -PU53</p></div></td>
                        <td style="padding: 5px;"><div><p> UDP discovery on port x. </p><p>Port 40125 by default</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -PR</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1-1/24 -PR</p></div></td>
                        <td style="padding: 5px;"><div><p> ARP discovery on local network</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -n</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -n</p></div></td>
                        <td style="padding: 5px;"><div><p> Never do DNS resolution</p></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />

<div class="border border-info rounded shadow">
    <div>
        <div class="bg-info text-white mb-2">
            <h5>
                <span>Port Specification</span>
            </h5>
        </div>
        <span></span>
    </div>
    <div>
        <div>
            <table data-rows="10" data-cols="3" style="margin-top: 0px !important; margin-bottom: 0px !important;">
                <thead>
                    <tr><th style="padding: 5px;"><div><p style="margin-left: 20px !important;">Switch</p></div></th><th style="padding: 5px;" data-tve-custom-colour="5315753"><div><p data-unit="px" style="line-height: 16px; margin-left: 20px !important;"> Example</p></div></th><th style="padding: 5px;" data-tve-custom-colour="723491"><div><p> Description</p></div></th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -p</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -p 21</p></div></td>
                        <td style="padding: 5px;"><div><p> Port scan for port x</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -p</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -p 21-100</p></div></td>
                        <td style="padding: 5px;"><div><p> Port range</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -p</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -p U:53,T:21-25,80</p></div></td>
                        <td style="padding: 5px;"><div><p> Port scan multiple TCP and UDP ports</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -p-</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -p-</p></div></td>
                        <td style="padding: 5px;"><div><p> Port scan all ports </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -p</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -p http,https</p></div></td>
                        <td style="padding: 5px;"><div><p> Port scan from service name </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -F</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -F</p></div></td>
                        <td style="padding: 5px;"><div><p> Fast port scan (100 ports) </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> --top-ports</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 --top-ports 2000</p></div></td>
                        <td style="padding: 5px;"><div><p> Port scan the top x ports</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -p-65535</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -p-65535</p></div></td>
                        <td style="padding: 5px;"><div><p>Leaving off initial port in range <br>makes the scan start at port 1</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">-p0-</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">nmap 192.168.1.1 -p0-</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Leaving off end port in range </p><p>makes the scan go through to port 65535</p></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<div class="border border-info rounded shadow">
    <div>
        <div class="bg-info text-white mb-2">
            <h5>
                <span>Service and Version Detection</span>
            </h5>
        </div>
        <span></span>
    </div>
    <div>
        <div>
            <table data-rows="10" data-cols="3" style="margin-top: 0px !important; margin-bottom: 0px !important;" data-tve-custom-colour="20630216">
                <thead>
                    <tr>
                        <th style="padding: 5px;"><div><p style="margin-left: 20px !important;">Switch</p></div></th>
                        <th style="padding: 5px;"><div><p data-unit="px" style="line-height: 16px; margin-left: 20px !important;"> Example</p></div></th>
                        <th style="padding: 5px;"><div><p> Description</p></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -sV</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -sV</p></div></td>
                        <td style="padding: 5px;"><div><p style=""> Attempts to determine the version of the service running on port</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -sV --version-intensity</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -sV --version-intensity 8</p></div></td>
                        <td style="padding: 5px;"><div><p> Intensity level 0 to 9. Higher number increases possibility of correctness</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -sV --version-light</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -sV --version-light</p></div></td>
                        <td style="padding: 5px;"><div><p> Enable light mode. Lower possibility of correctness. Faster</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -sV --version-all</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -sV --version-all</p></div></td>
                        <td style="padding: 5px;"><div><p> Enable intensity level 9. Higher possibility of correctness. Slower </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -A</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -A</p></div></td>
                        <td style="padding: 5px;"><div><p> Enables OS detection, version detection, script scanning, and traceroute </p></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br />

<div class="border border-info rounded shadow">
    <div>
        <div class="bg-info text-white mb-2">
            <h5>
                <span>OS Detection</span>
            </h5>
        </div>
        <span></span>
    </div>
    <div>
        <div>
            <table data-rows="10" data-cols="3" style="margin-top: 0px !important; margin-bottom: 0px !important;">
                <thead>
                    <tr>
                        <th style="padding: 5px;"><div><p style="margin-left: 20px !important;">Switch</p></div></th>
                        <th style="padding: 5px;"><div><p data-unit="px" style="line-height: 16px; margin-left: 20px !important;"> Example</p></div></th>
                        <th style="padding: 5px; width: 250px;"><div><p> Description</p></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -O</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -O</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-right: 10px !important;"> Remote OS detection using TCP/IP <br>stack fingerprinting</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px; width: 89px;"><div><p style="margin-left: 20px !important;"> -O --osscan-limit</p></div></td>
                        <td style="padding: 5px; width: 170px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -O --osscan-limit</p></div></td>
                        <td style="padding: 5px;"><div><p> If at least one open and one closed <br>TCP port are not found it will not try <br>OS detection against host</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -O --osscan-guess</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -O --osscan-guess</p></div></td>
                        <td style="padding: 5px;"><div><p> Makes Nmap guess more aggressively</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -O --max-os-tries</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -O --max-os-tries 1</p></div></td>
                        <td style="padding: 5px;"><div><p> Set the maximum number x of OS <br>detection tries against a target </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -A</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -A</p></div></td>
                        <td style="padding: 5px;"><div><p>Enables OS detection, version detection, script scanning, and traceroute</p></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br />
<div class="border border-info rounded shadow">
    <div>
        <div class="bg-info text-white mb-2">
            <h5>
                <span>Timing and Performance</span>
            </h5>
        </div>
        <span></span>
    </div>

    <div>
        <div>
            <table data-rows="8" data-cols="3" style="margin-top: 0px !important; margin-bottom: 0px !important;">
                <thead>
                    <tr>
                        <th style="padding: 5px; border-width: 0px;"><div><p style="margin-left: 20px !important;">Switch</p></div></th>
                        <th style="padding: 5px; border-width: 0px;"><div><p data-unit="px" style="line-height: 16px; margin-left: 20px !important;"> Example</p></div></th>
                        <th style="padding: 5px; border-width: 0px;"><div><p> Description</p></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 5px; border-width: 0px;"><div><p style="margin-left: 20px !important;"> -T0</p></div></td>
                        <td style="padding: 5px; border-width: 0px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -T0</p></div></td>
                        <td style="padding: 5px; border-width: 0px;"><div><p style="margin-right: 10px !important;"> Paranoid (0) Intrusion Detection <br>System evasion</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px; border-width: 0px;"><div><p style="margin-left: 20px !important;"> -T1</p></div></td>
                        <td style="padding: 5px; border-width: 0px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -T1</p></div></td>
                        <td style="padding: 5px; border-width: 0px;"><div><p> Sneaky (1) Intrusion Detection System <br>evasion</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px; border-width: 0px;"><div><p style="margin-left: 20px !important;"> -T2</p></div></td>
                        <td style="padding: 5px; border-width: 0px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -T2</p></div></td>
                        <td style="padding: 5px; border-width: 0px;"><div><p> Polite (2) slows down the scan to use <br>less bandwidth and use less target <br>machine resources</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px; border-width: 0px;"><div><p style="margin-left: 20px !important;"> -T3</p></div></td>
                        <td style="padding: 5px; border-width: 0px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -T3</p></div></td>
                        <td style="padding: 5px; border-width: 0px;"><div><p> Normal (3) which is default speed </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px; border-width: 0px;"><div><p style="margin-left: 20px !important;"> -T4</p></div></td>
                        <td style="padding: 5px; border-width: 0px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1 -T4</p></div></td>
                        <td style="padding: 5px; border-width: 0px;"><div><p> Aggressive (4) speeds scans; assumes <br>you are on a reasonably fast and <br>reliable network </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px; border-width: 0px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">-T5</p></div></td>
                        <td style="padding: 5px; border-width: 0px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">nmap 192.168.1.1 -T5</p></div></td>
                        <td style="padding: 5px; border-width: 0px;" rowspan="1" colspan="1"><div><p>Insane (5) speeds scan; assumes you <br>are on an extraordinarily fast network</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px; border-width: 0px; height: 26px; width: 79px;" rowspan="1" colspan="1"></td>
                        <td style="padding: 5px; border-width: 0px;" rowspan="1" colspan="1"></td>
                        <td style="padding: 5px; border-width: 0px;" rowspan="1" colspan="1"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table data-rows="9" data-cols="3" style="margin-top: 0px !important; margin-bottom: 0px !important;">
                <thead>
                    <tr>
                        <th style="padding: 5px; width: 250px;"><div><p style="margin-left: 20px !important;">Switch</p></div></th>
                        <th style="padding: 5px;"><div><p data-unit="px" style="line-height: 16px; margin-left: 0px !important;"> Example input</p></div></th>
                        <th style="padding: 5px; width: 220px;"><div><p style="margin-left: 0px !important;"> Description</p></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> --host-timeout&nbsp;&lt;time&gt;</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important; padding-left: 0px !important;"> 1s; 4m; 2h</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-right: 10px !important;"> Give up on target after this long</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> --min-rtt-timeout/max-rtt-timeout/initial-rtt-timeout&nbsp;&lt;time&gt;</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important;"> 1s; 4m; 2h</p></div></td>
                        <td style="padding: 5px;"><div><p> Specifies probe round trip time</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> --min-hostgroup/max-hostgroup&nbsp;&lt;size&lt;size&gt;</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important;"> 50; 1024</p></div></td>
                        <td style="padding: 5px;"><div><p> Parallel host scan group <br>sizes</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> --min-parallelism/max-parallelism&nbsp;&lt;numprobes&gt;</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important;"> 10; 1</p></div></td>
                        <td style="padding: 5px;"><div><p> Probe parallelization </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> --scan-delay/--max-scan-delay&nbsp;&lt;time&gt;</p></div></td>
                        <td style="padding: 5px; width: 92px;"><div><p style="margin-left: 0px !important;"> 20ms; 2s; 4m; 5h</p></div></td>
                        <td style="padding: 5px;"><div><p> Adjust delay between probes </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">--max-retries &lt;tries&gt;</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 0px !important;">3</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Specify the maximum number <br>of port scan probe retransmissions</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">--min-rate&nbsp;&lt;number&gt;</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 0px !important;">100</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Send packets no slower than&nbsp;&lt;numberr&gt; per second</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">--max-rate &lt;number&gt;</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 0px !important;">100</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="">Send packets no faster than&nbsp;&lt;number&gt; per second</p></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br />
<div class="border border-info rounded shadow">
    <div>
        <div class="bg-info text-white mb-2">
            <h5>
                <span>NSE Scripts</span>
            </h5>
        </div>
        <span></span>
    </div>

    <div>
        <div>
            <table data-rows="8" data-cols="3" style="margin-top: 0px !important; margin-bottom: 0px !important;">
                <thead>
                    <tr>
                        <th style="padding: 5px; width: 100px;"><div><p style="margin-left: 20px !important;">Switch</p></div></th>
                        <th style="padding: 5px; width: 235px;"><div><p data-unit="px" style="line-height: 16px; margin-left: 0px !important;"> Example</p></div></th>
                        <th style="padding: 5px;"><div><p style="margin-left: 0px !important;"> Description</p></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 5px;">
                            <div><p style="margin-left: 20px !important;"> -sC</p></div>
                        </td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important; padding-left: 0px !important;"> nmap 192.168.1.1 -sC</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-right: 10px !important;"> Scan with default NSE scripts. Considered useful for discovery and safe</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> --script default</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important;"> nmap 192.168.1.1 --script default</p></div></td>
                        <td style="padding: 5px;"><div><p style=""> Scan with default NSE scripts. Considered useful for discovery and safe</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> --script</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important;"> nmap 192.168.1.1 --script=banner</p></div></td>
                        <td style="padding: 5px;"><div><p> Scan with a single script. Example banner</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> --script</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important;"> nmap 192.168.1.1 --script=http*</p></div></td>
                        <td style="padding: 5px;"><div><p> Scan with a wildcard. Example http </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> --script</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important;"> nmap 192.168.1.1 --script=http,banner</p></div></td>
                        <td style="padding: 5px;"><div><p> Scan with two scripts. Example http and banner </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">--script</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 0px !important;">nmap 192.168.1.1 --script "not intrusive"</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Scan default, but remove intrusive scripts</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">--script-args</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 0px;">nmap --script snmp-sysdescr --script-args snmpcommunity=admin 192.168.1.1</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>NSE script with arguments</p></div></td>
                    </tr>
                </tbody>
            </table>
        </div><div><p style="color: rgb(0, 30, 79); background-color: rgb(196, 196, 196); margin-bottom: 0px !important; margin-left: 20px !important;">Useful NSE Script Examples</p></div><div>
            <table data-rows="8" data-cols="2" style="margin-top: 0px !important; margin-bottom: 0px !important;">
                <thead>
                    <tr>
                        <th style="padding: 5px; width: 250px;"><div><p style="margin-left: 20px !important;">Command</p></div></th>
                        <th style="padding: 5px; width: 236px;"><div><p style="margin-left: 0px !important;"> Description</p></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap -Pn --script=http-sitemap-generator scanme.nmap.org</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-right: 10px !important;"> http site map generator</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap -n -Pn -p 80 --open -sV -vvv --script banner,http-title -iR 1000</p></div></td>
                        <td style="padding: 5px;"><div><p> Fast search for random web servers</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap -Pn --script=dns-brute domain.com</p></div></td>
                        <td style="padding: 5px;"><div><p> Brute forces DNS hostnames guessing subdomains</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap -n -Pn -vv -O -sV --script smb-enum*,smb-ls,smb-mbenum,smb-os-discovery,smb-s*,smb-vuln*,smbv2* -vv 192.168.1.1</p></div></td>
                        <td style="padding: 5px;"><div><p> Safe SMB scripts to run </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap --script whois* domain.com</p></div></td>
                        <td style="padding: 5px;"><div><p> Whois query </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">nmap -p80 --script http-unsafe-output-escaping scanme.nmap.org</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Detect cross site scripting vulnerabilities</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">nmap -p80 --script http-sql-injection scanme.nmap.org</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Check for SQL injections</p></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br />
<div class="border border-info rounded shadow">
    <div>
        <div class="bg-info text-white mb-2">
            <h5>
                <span>Firewall / IDS Evasion and Spoofing</span>
            </h5>
        </div>
        <span></span>
    </div>

    <div>
        <div>
            <table data-rows="9" data-cols="3" style="margin-top: 0px !important; margin-bottom: 0px !important;">
                <thead>
                    <tr>
                        <th style="padding: 5px; width: 100px;"><div><p style="margin-left: 20px !important;">Switch</p></div></th>
                        <th style="padding: 5px; width: 248px;"><div><p data-unit="px" style="line-height: 16px; margin-left: 0px !important;"> Example</p></div></th>
                        <th style="padding: 5px; width: 240px;"><div><p style="margin-left: 0px !important;"> Description</p></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -f</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important; padding-left: 0px !important;"> nmap 192.168.1.1 -f</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-right: 10px !important;">Requested scan (including ping scans) use tiny fragmented IP packets. Harder for packet filters</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> --mtu</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important;"> nmap 192.168.1.1 --mtu 32</p></div></td>
                        <td style="padding: 5px;"><div><p> Set your own offset size</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -D</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important;"> nmap -D 192.168.1.101,192.168.1.102,<br>192.168.1.103,192.168.1.23 192.168.1.1</p></div></td>
                        <td style="padding: 5px;"><div><p> Send scans from spoofed IPs</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -D</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important;"> nmap -D decoy-ip1,decoy-ip2,your-own-ip,decoy-ip3,decoy-ip4 remote-host-ip</p></div></td>
                        <td style="padding: 5px;"><div><p> Above example explained </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -S</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px;"> nmap -S www.microsoft.com www.facebook.com</p></div></td>
                        <td style="padding: 5px;"><div><p style=""> Scan Facebook from Microsoft (-e eth0 -Pn may be required) </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">-g</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 0px !important;">nmap -g 53 192.168.1.1</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Use given source port number</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">--proxies</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 0px !important;">nmap --proxies http://192.168.1.1:8080, http://192.168.1.2:8080 192.168.1.1</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Relay connections through HTTP/SOCKS4 proxies</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">--data-length</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 0px !important;">nmap --data-length 200 192.168.1.1</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Appends random data to sent packets</p></div></td>
                    </tr>
                </tbody>
            </table>
        </div><div><p style="color: rgb(0, 30, 79); background-color: rgb(196, 196, 196); margin-bottom: 0px !important; margin-left: 20px !important;">Example IDS Evasion command</p></div>
        <div style="margin-bottom: 0px !important; margin-top: 0px !important; margin-left: 20px !important;">
            <div style="display: none"></div><div>
                <p>nmap -f -t 0 -n -Pn –data-length 200 -D 192.168.1.101,192.168.1.102,192.168.1.103,192.168.1.23 192.168.1.1</p>
            </div>
        </div>
    </div>
</div>

<br />
<div class="border border-info rounded shadow">
    <div>
        <div class="bg-info text-white mb-2">
            <h5>
                <span>Output</span>
            </h5>
        </div>
        <span></span>
    </div>

    <div>
        <div>
            <table data-rows="14" data-cols="3" style="margin-top: 0px !important; margin-bottom: 0px !important;">
                <thead>
                    <tr><th style="padding: 5px; width: 100px;"><div><p style="margin-left: 20px !important;">Switch</p></div></th><th style="padding: 5px; width: 235px;"><div><p data-unit="px" style="line-height: 16px; margin-left: 0px !important;"> Example</p></div></th><th style="padding: 5px;" data-tve-custom-colour="12473136"><div><p style="margin-left: 0px !important;"> Description</p></div></th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -oN</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important; padding-left: 0px !important;"> nmap 192.168.1.1 -oN normal.file</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-right: 10px !important;"> Normal output to the file normal.file</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -oX</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important;"> nmap 192.168.1.1 -oX xml.file</p></div></td>
                        <td style="padding: 5px;"><div><p> XML output to the file xml.file</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -oG</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important;"> nmap 192.168.1.1 -oG grep.file</p></div></td>
                        <td style="padding: 5px;"><div><p> Grepable output to the file grep.file</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -oA</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px;"> nmap 192.168.1.1 -oA results</p></div></td>
                        <td style="padding: 5px;"><div><p> Output in the three major formats at once </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -oG -</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-left: 0px !important;"> nmap 192.168.1.1 -oG -</p></div></td>
                        <td style="padding: 5px;"><div><p> Grepable output to screen. -oN -, -oX - also usable </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">--append-output</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 0px !important;">nmap 192.168.1.1 -oN file.file --append-output</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Append a scan to a previous scan file</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">-v</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 0px !important;">nmap 192.168.1.1 -v</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Increase the verbosity level (use -vv or more for greater effect)</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">-d</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>nmap 192.168.1.1 -d</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Increase debugging level (use -dd or more for greater effect)</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">--reason</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>nmap 192.168.1.1 --reason</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Display the reason a port is in a particular state, same output as -vv</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">--open</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>nmap 192.168.1.1 --open</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Only show open (or possibly open) ports</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">--packet-trace</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>nmap 192.168.1.1 -T4 --packet-trace</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Show all packets sent and received</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">--iflist</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>nmap --iflist</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Shows the host interfaces and routes</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">--resume</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>nmap --resume results.file</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Resume a scan</p></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div><p style="color: rgb(0, 30, 79); background-color: rgb(196, 196, 196); margin-bottom: 0px !important; margin-left: 20px !important;">Helpful Nmap Output examples</p></div><div>
            <table data-rows="7" data-cols="2" style="margin-top: 0px !important; margin-bottom: 0px !important;">
                <thead>
                    <tr>
                        <th style="padding: 5px; width: 310px;"><div><p style="margin-left: 20px !important;">Command</p></div></th>
                        <th style="padding: 5px; width: 240px;"><div><p style="margin-left: 0px !important;"> Description</p></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap -p80 -sV -oG - --open 192.168.1.1/24 | grep open</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-right: 10px !important;"> Scan for web servers and grep to show which IPs are running web servers</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap -iR 10 -n -oX out.xml | grep "Nmap" | cut -d " " -f5 &gt; live-hosts.txt</p></div></td>
                        <td style="padding: 5px;"><div><p> Generate a list of the IPs of live hosts</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap -iR 10 -n -oX out2.xml | grep "Nmap" | cut -d " " -f5 &gt;&gt; live-hosts.txt</p></div></td>
                        <td style="padding: 5px;"><div><p> Append IP to the list of live hosts</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> ndiff scanl.xml scan2.xml</p></div></td>
                        <td style="padding: 5px;"><div><p> Compare output from nmap using the ndif </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> xsltproc nmap.xml -o nmap.html</p></div></td>
                        <td style="padding: 5px;"><div><p> Convert nmap xml files to html files </p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">grep " open " results.nmap | sed -r 's/ +/ /g' | sort | uniq -c | sort -rn | less</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="">Reverse sorted list of how often ports turn up</p></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br />
<div class="border border-info rounded shadow">
    <div>
        <div class="bg-info text-white mb-2">
            <h5>
                <span>Miscellaneous Options</span>
            </h5>
        </div>
        <span></span>
    </div>

    <div>
        <table data-rows="3" data-cols="3" style="margin-top: 0px !important; margin-bottom: 0px !important;">
            <thead>
                <tr>
                    <th style="padding: 5px; width: 100px;"><div><p style="margin-left: 20px !important;">Switch</p></div></th>
                    <th style="padding: 5px; width: 210px;"><div><p data-unit="px" style="line-height: 16px; margin-left: 0px !important;"> Example</p></div></th>
                    <th style="padding: 5px; width: 240px;"><div><p style="margin-left: 0px !important;"> Description</p></div></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -6</p></div></td>
                    <td style="padding: 5px;"><div><p style="margin-left: 0px !important; padding-left: 0px !important;"> nmap -6 2607:f0d0:1002:51::4</p></div></td>
                    <td style="padding: 5px;" data-tve-custom-colour="99704623"><div><p style="margin-right: 10px !important;"> Enable IPv6 scanning</p></div></td>
                </tr>
                <tr>
                    <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> -h</p></div></td>
                    <td style="padding: 5px;"><div><p style="margin-left: 0px !important;"> nmap -h</p></div></td>
                    <td style="padding: 5px;"><div><p> nmap help screen</p></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br />
<div class="border border-info rounded shadow">
    <div>
        <div class="bg-info text-white mb-2">
            <h5>
                <span>Other Useful Nmap Commands</span>
            </h5>
        </div>
        <span></span>
    </div>
    <div>
        <div>
            <table data-rows="5" data-cols="2" style="margin-top: 0px !important; margin-bottom: 0px !important;">
                <thead>
                    <tr>
                        <th style="padding: 5px; width: 300px;"><div><p style="margin-left: 20px !important;">Command</p></div></th>
                        <th style="padding: 5px; width: 240px;"><div><p style="margin-left: 0px !important;"> Description</p></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap -iR 10 -PS22-25,80,113,1050,35000 -v -sn</p></div></td>
                        <td style="padding: 5px;"><div><p style="margin-right: 10px !important;"> Discovery only on ports x, no port scan</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><div><p style="margin-left: 20px !important;"> nmap 192.168.1.1-1/24 -PR -sn -vv</p></div></td>
                        <td style="padding: 5px;"><div><p> Arp discovery only on local network, no port scan</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">nmap -iR 10 -sn -traceroute</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Traceroute to random targets, no port scan</p></div></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p style="margin-left: 20px !important;">nmap 192.168.1.1-50 -sL --dns-server 192.168.1.1</p></div></td>
                        <td style="padding: 5px;" rowspan="1" colspan="1"><div><p>Query the Internal DNS for hosts, list targets only</p></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

