@layout MainLayout
@page "/Nmap"
@inject NavigationManager navigationManager
@inject IJSRuntime jsRunTime
@inherits Classes.NmapBase
@using Classes

<div class="float-lg-right">
    <button class="btn" @onclick="CaptureScreenShot"><i class="oi oi-camera-slr"></i></button>
</div>

<div id="outer-screen">
    <div id="inner-screen">
        <div id="output-outer"><div id="output">@((MarkupString)Output)</div></div>
        <div id="blank-line">&nbsp;</div>
        <div id="input-row">
            <span>&gt;&nbsp;</span><input id="input" class=@processStyle autocomplete="off" @bind="Input" type="text" @onkeydown="OnKeyDown" @onkeyup="Run" autofocus />
        </div>
    </div>
</div>


@functions {
    private void CaptureScreenShot()
    {
        FileUtil.SaveAs(jsRunTime, $"Nmap_{DateTime.Now.ToString("ddMMyyyyHHmmss")}.jpg").ConfigureAwait(false);
    }
}